.antiquewhite {
  background-color: antiquewhite;
}

.darkslategray {
  background-color: darkslategray;
}

.coral {
  background-color: coral;
}

.square {
  width: 150px;
  height: 150px;
  background-color: violet;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: cornflowerblue;
  border-radius: 50%;
  margin-left: 200px;
}

.active {
  border: 5px solid #ffffff;
}

.div1,
.div3 {
  height: 100vh;
}

.div2 {
  height: 70vh;
}
